<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>
   
  
<br>
<br>
<table width="700px" height="50px" class="titulo">
        <td><b>Produtos</b></td>
</table>

<br> 

<table width="700px" height="250px">
    <tr>
        <td><b>Nome do Produto</b></td>
        <td><b>Preço</b></td>
        <td><b>Categoria</b></td>
    </tr>

    <% produtos.forEach(produto => { %> 
        <tr>
        <td><%=produto.nome %></td>
        <td><%=produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
        <td><%=produto.categoria %></td>
    </tr>
    <%})%>

    
</table>

<br>
<br>

<%- include ('partials/footer.ejs')%>